<html>
    <head>
        <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css"/>
        <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"/>
        <link rel="icon" href="{{ url_for('static', path='/favicon.svg') }}"/>
        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    </head>
    <body>
        <h1 class="head">ToDo App</h1>
        <div class="container">
            <div class="item">
                <img 
                    src="{{ url_for('data', path=image_url) ~ ('?uuid=' ~ uuid|urlencode) }}"
                    alt="Embedded Image"
                    width="500"
                    height="500"
                />
            </div>

            <div class="item">
                <form hx-post="/add" hx-target="#todos" hx-swap="innerHTML" hx-on:htmx:after-request="this.reset()">
                    <input type="text" maxlength="140" name="todo">
                    <button>Create todo item</button>
                </form>
                <div>
                    <ul id="todos" hx-get="/" hx-swap="innerHTML" hx-trigger="load">
                    </ul>
                </div>
            </div>
        </div>
    <body>
    <footer>
        <a href="https://courses.mooc.fi/org/uh-cs/courses/devops-with-kubernetes">DevOps with Kubernetes</a>
    </footer>
</html>