apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- namespace.yaml
- deployment.yaml
- service.yaml
- httproute.yaml

images:
- name: azska/greeter
  newName: azska/greeter
  newTag: latest