apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: exercises
  name: ping-pong-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      volumes:
      - name: shared-folder
        persistentVolumeClaim:
            claimName: ping-pong-pvc
      containers:
        - name: ping-pong
          image: azska/ping_pong:latest
          volumeMounts:
          - name: shared-folder
            mountPath: /tmp/
          env:
            - name: DB_CONNECTION_STRING
              value: postgresql://ping_pong@ping-pong-postgres-svc.exercises:5432/ping_pong