version: '3.8'

services:
  db:
    image: postgres:17
    environment:
      POSTGRES_DB: project_app
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    environment:
      DB_CONNECTIONS_STRING: postgres://admin:password@db:5432/project_app
      SERVER_PORT: 8001
      NATS_URL: nats://nats:4222
    ports:
      - "8001:8001"
    depends_on:
      - db
      - nats
    volumes:
      - ./todo_backend:/app/todo_backend
    networks:
      - app-network
    stdin_open: true
    tty: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8001/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s

  broadcaster:
    build:
      context: .
      dockerfile: Dockerfile.broadcaster
    volumes:
      - ./broadcaster:/app/broadcaster
    stdin_open: true
    tty: true
    environment:
      NATS_URL: nats://nats:4222
      WEB_HOOK: https://webhook.site/b80f3cbe-d0f9-4bc6-989d-b5cff51f7e4a
    depends_on:
      - nats
    networks:
      - app-network

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    environment:
      BACKEND_ADDRESS: http://backend:8001/todos
      SERVER_PORT: 8000
      IMAGE_CACHE_FOLDER: /tmp/todo_app_images/
    ports:
      - "8000:8000"
    depends_on:
      - backend
    volumes:
      - ./todo_app:/app/todo_app
      - todo_app_images:/tmp/todo_app_images/
    networks:
      - app-network
    stdin_open: true
    tty: true
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 60s
  
  nats:
    image: nats:2.11
    ports:
      - "4222:4222"
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "sh", "-c", "nc -z localhost 4222"]
      interval: 5s
      timeout: 10s
      retries: 5
      start_period: 10s
volumes:
  postgres_data:
  todo_app_images:

networks:
  app-network:
    driver: bridge