apiVersion: batch/v1
kind: CronJob
metadata:
  name:  project-postgres-backup
spec:
  schedule: "0 0 * * *" 
  jobTemplate:
    spec:
      template:
        spec:
          containers:
          - name: project-postgres-backup-worker
            image: google/cloud-sdk:alpine
            env:
              - name: PGHOST
                value: "project-postgres-svc"
              - name: PGUSER
                value: "admin"
              - name: DB_NAME
                value: "project_app"
              - name: BUCKET_NAME
                value: "dwk-storage"
            volumeMounts:
            - name: key-storage
              mountPath: /var/secrets/google
              readOnly: true
            command:
              - /bin/sh
              - -c
              - |
                set -e
                apk add --no-cache postgresql17-client --repository=http://dl-cdn.alpinelinux.org/alpine/edge/main
                gcloud auth activate-service-account --key-file=/var/secrets/google/private-key.json
                pg_dump -h $PGHOST -U $PGUSER $DB_NAME | gsutil cp - gs://$BUCKET_NAME/backup-$(date +%Y-%m-%d-%H%M).sql
          restartPolicy: OnFailure
          volumes:
          - name: key-storage
            secret:
              secretName: gc-sa