apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
      - name: shared-folder
        persistentVolumeClaim:
            claimName: ping-pong-pvc
      containers:
        - name: log-output
          image: azska/log_output_server:latest
          volumeMounts:
          - name: shared-folder
            mountPath: /tmp/
        - name: log-generator
          image: azska/log_output_generator:latest
          volumeMounts:
          - name: shared-folder
            mountPath: /tmp/